<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">LangMe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about">Acerca de</a>
      </li>

      <li class="nav-item">
        <button type="button" id="btn_iniciar_sesion" class="btn btn-secondary"><a id="a_iniciar_sesion" href="/login">
            Iniciar sesión</a>
        </button>
        <button type="button" id="btn_registrar" class="btn btn-info"><a id="a_registrar" href="/signup">
            Registrarse</a>
        </button>
      </li>
    </ul>

  </div>
</nav>