<!DOCTYPE html>
<html>
<head>
  <% include partials/headIndex %>
</head>

<body>
  <% include partials/navbarIndex %>
    <section>
      <h1>
        <%= title %>
      </h1>
      <p>Bienvenido registrate o inicia sesión para acceder al contenido.
      </p>
    </section>
    <% include partials/footerIndex %>
</body>
<% include partials/scriptsIndex %>

</html>