<% include ../partials/headUser %>
  <% include ../partials/navbarUser %>

    <!-- include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>


    <section>
      <div align="center">
        <div class="card text-black bg-light mb-3" id="card_crear_clase">
          <div class="card-header">
            <h1 id="h1_crear_clase"><i class="fa fa-star-o"></i> Crear Lección</h1>
          </div>
          <div class="card-body">
            <form action="/create_lesson" method="post">
              <div>
                <input type="text" name="class_id" id="class_id" value="<%= clase._id %>" style="visibility: hidden;">
              </div>

              <div class="form-group">
                <label class="labels_crear_clase">Título</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Escribe..." required>
              </div>
              <div class="form-group">
                <label class="labels_crear_clase">Descripción</label>
                <input type="text" class="form-control" name="description" id="description" placeholder="Escribe..."
                  required>
              </div>

              <div class="form-group">
                <label class="labels_crear_clase">Contenido</label>
                <textarea class="form-control" name="content" id="content" cols="30" rows="10" placeholder="Escribe..."
                  required></textarea>
              </div>

              <div class="form-group">
                <label class="labels_crear_clase">Imagen</label>
                <input type="text" class="form-control" name="image" id="image" placeholder="URL" required>
              </div>
              <div class="form-group">
                <label class="labels_crear_clase">¿Publicar?</label>
                <select style="font-size: 15px;" class="custom-select" name="published" id="published"
                  aria-label="Default select example" required>
                  <option value="" selected>Selecciona una opción</option>
                  <option value="false">¡Aún no!</option>
                  <option value="true">¡Si!</option>
                </select>
              </div>
              <br><br>

              <div align="center">
                <a href="javascript: history.go(-1)"><button type="button" style="width: 200px;"
                    class="btn btn-danger">Cancelar</button></a>
                <button type="submit" class="btn btn-secondary" style="width: 200px;">Crear</button>
              </div>

            </form>
          </div>
        </div>
      </div>

    </section>

    <!--Text Editor Summer Note para el textarea del content de la lesson-->
    <script>//Text Editor
      $('#content').summernote({
        placeholder: 'Agregar texto',
        tabsize: 1,
        height: 400
      });
    </script>

    <% include ../partials/footerUser %>
      <% include ../partials/scriptsUser %>